
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <div> 
        <p>You dont have access to view this page</p>
    </div>
</body>
</html>
