
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
    <style>
    body { background: no-repeat  url("https://cdn.searchenginejournal.com/wp-content/uploads/2017/08/25-Outstanding-404-Page-Examples-You-Have-to-See-760x400.png") }
    </style>
</head>
<body>
    <div> 
       
    </div>
</body>
</html>
